.container {
}

.main {
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.Home{
  background-image: url('../assets/online-programming-course-hero-section-bg.svg');
  color: #e0f3ff;
  padding: 5px;
}

.media{
  width: 100%;
  height: 225px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  background-image: url('../assets/online-programming-course-hero-video-thumb.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.letsRollButton{
  background-color: #0a8cff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  color: #e0f3ff;
  font-weight: bold;
  margin-bottom: 20px;
}

.viewJourneyButton{
  background-color: transparent;
  color: #e0f3ff;
  font-size: 15px;
  border: none;
  font-weight: bold;
  width: 100%;
  margin-bottom: 40px;
}